<div class="container">
  <h1 class="title">NTBB</h1>
  {{#if books}}
  <div class="books__container">
  {{#each books}}
    <div class="book">
      <h2>{{this.title}}</h2>
      <p>{{this.bookmark}} of {{this.totalPages}} pages ({{this.percentCompleted}}%)</p>
      <form action="/record" method="post">
        <div class="bookmark__options">
          {{#each this.pageOptions}}
            <input type="radio" id="page-option-{{../id}}-{{this}}" name="page" value="{{this}}" />
            <label for="page-option-{{../id}}-{{this}}">{{this}}</label>
          {{/each}}
        </div>
        <input type="hidden" name="book" id="book" value="{{{this.id}}}">
        <div class="form__submit">
          <input type="submit" value="Bookmark">
        </div>
      </form>
    </div>
  {{/each}}
  </div>
  {{/if}}
  <div class="tag">The bot is working! Tag: {{{tag}}}</div>
</div>